---
import Layout from '../layouts/Layout.astro';
import ScanDashboard from '../components/ScanDashboard.vue';
---

<Layout title="Pharos AI | Scan Verdict & Cover Letter Generator">
	<div class="relative z-10">
		<ScanDashboard client:load />
	</div>
</Layout>
